<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Scale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <style>
        body {
            background: lightgray
        }

        table {
            font-size: 20px;
        }

        td {
            color: rgb(153, 153, 153);
        }

        .number {
            color: black;
        }

        .inScale {
            color: rgb(80, 1, 80);
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <table class="table table-hover">
        <tbody>
            {% for string_notes in strings %}
            <tr>
                <td class='number'>{{loop.index0}}</td>
                {% for string in string_notes %}
                <td>
                    {{ notes[string] }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr></tr>
            <tr></tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
    <ul>

    </ul>

</body>
<script>
    // setTimeout(() => { window.location.reload() }, 5000);
</script>

</html>