<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pure Scale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-size: 20px;
        }

        img {
            width: 50%;
            height: auto;

        }

        .major {
            text-transform: uppercase
        }

        .minor {
            text-transform: lowercase
        }

        .tonic {
            background-color: rgba(0, 128, 0, 0.5);
        }

        .subdominant {
            background-color: rgba(255, 102, 0, 0.5);
        }

        .dominant {
            background-color: rgba(153, 51, 0, 0.5);
        }

        .number {
            color: black;
        }

        td {
            color: rgb(128, 128, 128);
        }

        .inScale {
            color: rgb(80, 1, 80);
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <H2 class="tonic">TONIC</H2>
    <H2 class="subdominant">SUBDOMINANT</H2>
    <H2 class="dominant">DOMINANT</H2>
    <div class="card text-center">
        <div class="card-header">
            <h3> Major </h3>
            <p>
                I -> any ;; iii -> vi ;; tonic -> subdominant ;; subdominant -> dominant or I ;; dominant -> I
                or vi ;;
            </p>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <colgroup>
                    <col class="tonic">
                    <col class="subdominant supertonic">
                    <col class="tonic mediant">
                    <col class="subdominant">
                    <col class="dominant">
                    <col class="tonic submediant">
                    <col class="dominant leading">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">I</th>
                        <th scope="col">ii</th>
                        <th scope="col">iii</th>
                        <th scope="col">IV</th>
                        <th scope="col">V</th>
                        <th scope="col">vi</th>
                        <th scope="col">viiº</th>
                    </tr>
                </thead>
                <tbody>
                    {% for major in allScales['major'] %}
                    <tr>
                        {% for note in major %}
                        <td class="{% 
                            if loop.index in [1, 3, 5, 7] 
                            %} inScale {%endif %}{% 
                                if loop.index in [1, 4, 5] 
                                %} major {%endif %}{% 
                                    if loop.index in [2, 3, 6, 7] 
                                    %} minor {%endif %}">
                            {{ notes[note] }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <h3> Minor </h3>
            <p>
                i -> any ;; VII -> III ;; III -> VI or subdominant ;; VI -> subdominant ;; subdominant -> dominant or i
                ;; dominant -> i or VI ;;
            </p>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <colgroup>
                    <col class="tonic">
                    <col class="subdominant supertonic">
                    <col class="tonic mediant">
                    <col class="subdominant">
                    <col class="dominant">
                    <col class="tonic submediant">
                    <col class="tonic subtonic">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">i <small>(major vi)</small></th>
                        <th scope="col">iiª <small>(major vii)</small></th>
                        <th scope="col">III <small>(major I)</small></th>
                        <th scope="col">iv <small>(major ii)</small></th>
                        <th scope="col">v <small>(major iii)</small></th>
                        <th scope="col">VI <small>(major IV)</small></th>
                        <th scope="col">VII <small>(major V)</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for minor in allScales['minor'] %}
                    <tr>
                        {% for note in minor %}
                        <td class="{% 
                            if loop.index in [1, 3, 5, 7] 
                            %} inScale {%endif %}{% 
                                if loop.index in [1,2, 4, 5] 
                                %} minor {%endif %}{% 
                                    if loop.index in [3, 6, 7] 
                                    %} major {%endif %}">
                            {{ notes[note] }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>
                    // setTimeout(() => { window.location.reload() }, 5000);
</script>

</html>